@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body {
	background: #f5fafa;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #888;
	background-image: url(assets/css/images/overlay.png);
}

.heading {
	text-align:center;
}

.heading h3 {
	font-weight: 300;
	color: #666;
	margin-bottom:0;
	font-size:1.5em;
}

.heading h6 {
	margin-top:0;
	font-weight: 300;
    color: #666;
	font-size:1.005em;
}

.wrap {
	position:absolute;
	width:100%;
	top:0;
}

.webgl-content {
	position: absolute; 
	top: 0; 
	left: 0; 
	-webkit-transform: translate(0%, 0%); 
	transform: translate(0%, 0%);
	padding: 0 40px;
	font-size: 0.9em;
	line-height:1.3em;
}

.webgl-content h4 {
	margin-top:15px;
}

.webgl-content td {
	padding:0 30px;
}

.webgl-content table {
	margin-top:20px;
}

#unityContainer {
	margin:auto !important;
}
